<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suap - Maria Fernanda</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <!-- Seu conteúdo aqui -->

  <!-- jQuery e Materialize JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Inicialize os componentes Materialize -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.AutoInit();
    });
  </script>
  <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  
</head>

<body class="white">
  <nav class="green" role="navigation">
    <div class="nav-wrapper container">
      
      <ul class="right hide-on-med-and-down">
        <a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" >
    <div class="section no-pad-bot">
      <div class="container">
        <img src="/static/ifrn.png">
        <br><br>
        <p align="left"><h2 class="header center green-text">Maria Fernanda da Silva Souza</h2></p>
        <p align="left"><h2 class="header center green-text">Matrícula: 20201181110010</h2></p>
        
        <div class="row center">
          <h5 class="header col s12 light black-text">IFRN Campus São Paulo do Potengi</h5>
        </div>
        
        <div class="row center">
          <center>
            {% include 'boletim.html' %} 
         </center>
        </div>
       
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

</body>

</html>
{% extends 'base.html' %}

{% block content %}
<div id="page-overlay"></div>
      <center>
  <div id="login-container">
      
    <a class="waves-effect waves-light btn" id="login-button" onclick="redirectToLogin()">Dados Pessoais - Entrar</a></button>
      
  </div>
      </center>
  <script>
      function redirectToLogin() {
          window.location.href = "{{url_for('login')}}";
      }
  </script>
  {% endblock %}

